body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 6px;
    box-shadow: 0 0 6px;
    padding: 10px;
}
input{
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    outline: none;
}
input::-webkit-color-swatch{
    border-radius: 6px;
}
form:hover {
    box-shadow: 0 0 13px;
}